body {

 background-color: azure;

 margin: 0;

 padding: 0;

 color: #1a1a1a;

 font-family: Arial, sans-serif;

}



header {

 display: flex;

 justify-content: center;

 align-items: center;

 padding: 5px;

 background-color: #00796b;

 color: white;

 position: relative;

}



header h1 {

 font-size: 2rem;

}



.welcome-info {

 position: absolute;

 left: 20px;

 top: 50%;

 transform: translateY(-50%);

}



.navbar {

 display: flex;

 justify-content: center;

 background-color: #003f5c;

 padding: 10px 0;

 width: 100%;

 position: sticky;

 top: 0;

 z-index: 1000;

}



.navbar a {

 color: white;

 padding: 12px 20px;

 text-decoration: none;

 font-size: 18px;

 transition: background-color 0.3s, transform 0.3s;

}



.navbar a:hover {

 background-color: #ff7043;

 color: white;

 transform: scale(1.05);

}



.container {

 max-width: 800px;

 margin: 50px auto;

 background: #ffffff;

 padding: 20px;

 border-radius: 8px;

 box-shadow: 0 8px 30px rgba(0, 0, 0, 0.1);

 display: flex;

 align-items: center;

 gap: 20px;

}



.image-container img {

 max-width: 100%;

 display: block;

 margin: auto;

 height: auto;

 border-radius: 8px;

 box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);

}



h1 {

 font-size: 26px;

 color: #003f5c;

 margin-bottom: 20px;

 text-align: center;

}



label {

 display: block;

 margin-bottom: 6px;

 font-weight: bold;

 color: #333333;

}



input {

 width: 100%;

 padding: 14px;

 margin-bottom: 18px;

 border: 1px solid #ced4da;

 border-radius: 5px;

 font-size: 15px;

 box-sizing: border-box;

 transition: border-color 0.3s;

}



input:focus {

 border-color: #0d47a1;

 outline: none;

}



button {

 width: 100%;

 padding: 14px;

 background-color: #003f5c;

 color: #ffffff;

 border: none;

 border-radius: 5px;

 font-size: 16px;

 cursor: pointer;

 transition: background-color 0.3s, transform 0.2s;

}



button:hover {

 background-color: #084298;

 transform: translateY(-2px);

}



.signup-link {

 text-align: center;

 margin-top: 20px;

}



.signup-link a {

 color: #0d47a1;

 text-decoration: none;

 font-weight: bold;

 transition: color 0.3s;

}



.signup-link a:hover {

 color: #084298;

}



.footer {

 background-color: #003f5c;

 color: white;

 text-align: center;

 padding: 15px 10px;

 font-size: 14px;

margin-top: auto;

 position: relative;

 bottom: 0;

 width: 100%;
 

}



.footer a {
 color: #ffcc00;
 text-decoration: none;
 font-weight: bold;
}
.footer a:hover {

 text-decoration: underline;

}